# Godot 4+ specific ignores
.godot/

# Godot export ignores
bin/

# Repository owner specific ignores
plans/
addons/script-ide/

# Custom songs
songs/mods/
resources/videos/cutscenes/mods/

# Backup files
**~
