# Godot 4+ specific ignores
.godot/
~**
**.tmp
.fuse_hidden**

# Godot export ignores
bin/

# Repository owner specific ignores
plans/
addons/script-ide/

# Custom songs
songs/extra/

# Backup files
**~
